body {
	background: #4682B4;
}
header, main, footer {
	min-width: 855px;
	font-size: 21px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
.container hr {
	font-weight: bold;
}
.description {
	margin: 0 0 0 3%;
}
.description ul {
	margin: 0 0 0 2%;
}
.description h2 {
	font-size: 40px;
	font-weight: bold;
}
.description p {
	margin: 2% 0 2% 0;
}
.description li {
	line-height: 35px;
}
.description h3 {
	font-size: 30px;
	font-weight: bold;
}
header {
	background: #B0C4DE;
	overflow: hidden;
}
header nav {
	float: right;
	margin: 30px 30px 0 0;
}
header a, footer a {
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: black;
}
header h1 {
	font-style: italic;
	font-size: 70px;
	float: left;
	width: 570px;
	margin-left: 10px;
}
.contact {
	line-height: 35px;
}
main {
	background: #B0C4DE;
	overflow: auto;
}
main .content {
	float: left;
}
main .lightbukb {
	background-color: transparent;
	margin-top: 20px;
	float: right;  
}
main .light {
	margin-bottom: 85px;
}

footer .contact {
	float: left;
}
footer .sitemap {
	float: right;
	width: 320px;
}
.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}