body {
	background: #4682B4;
}
header, main, footer {
	min-width: 855px;
	font-size: 21px;
}
header .container, main .container, footer .container {
	margin: auto;
}
header {
	background: #B0C4DE;
	overflow: hidden;
}
header nav {
	float: right;
	margin: 30px 30px 0 0;
}
header a {
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: black;
}
header a:visited { /* Цвет посещенных ссылок */
	color: #000080;
}
header a:active { /* Цвет активных ссылок */
	color: #000080;
}
header h1 {
	float: left;
	margin-left:25px;
	width: 700px;
	font-size: 50pt;
	font-style: italic;
	margin-bottom:5px;
}
hr {
    background-color: black; /* Цвет линии */
    height: 1px; /* Толщина линии */
}
main {
	background: #B0C4DE;
	overflow: auto;
}
main p{
    margin-top: 10px;
    margin-bottom: 10px;
}
main h2 {
	float: left;
	font-size: 30pt;
	font-weight: bold;	
}
main h3{
    float: left;
    font-size: 20pt;
    font-weight: bold;
}
main ul {
	margin-left: 25px;
}
main .description {
	margin-left: 20px;
}
main .lightbukb {
	float: right;
}
footer {
    color: black;
}
footer h5{
    margin-left: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
footer p{
    margin-left: 20px;
    margin-top: 5px;
}
footer ul {
	margin-left:20px;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:visited {
    color: #000080; /* Цвет посещенных ссылок */
}

footer a:active {
    color: #000080; /* Цвет активных ссылок */
}
footer .contact {
	float: left;
}
footer .sitemap {
	float: right;
	width: 320px;
}

